@highlight-color: #dc3545;
@secondary-color: rgb(146,146,146);
@pale-color: rgb(213,213,213);

.rounded-corners(@top, @bottom) {
    border-top-left-radius: @top;
    border-top-right-radius: @top;
    border-bottom-left-radius: @bottom;
    border-bottom-right-radius: @bottom;
}

.remove-styling() {
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
}


// ============================================
// ============================================
// ============================================

.highlight-bg {
    background: @highlight-color;
}

// ============================================
// ============================================
// ============================================

h1 {
    font-weight: 100;
    font-size: 3.5rem;
}

nav {

    a {
        
        i {
            font-size: 2em;
        }
    }
}

.jumbotron {
    .rounded-corners(0, 15px);

    background: @highlight-color;

    .card {
        .remove-styling();
        color: white;
        
        .card-header {
            .remove-styling();
        }
        .card-footer {
            .remove-styling();
        }
    }
}

.btn {
    .rounded-corners(30px, 30px);
}

.modal {

    .btn {
        .rounded-corners(8px, 8px); 
    }
}

.btn-lg {
    .rounded-corners(10px, 10px);
}

.pills-color {
    .rounded-corners(25px, 25px);
}